{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "_types": "./types/index.ts",
          "_helpers": "./helpers/",
          "_components": "./screens/components/",
          "_typography": "./theme/typography",
          "_palette": "./theme/palette",
          "_metrics": "./theme/metrics",
          "_globals": "./theme/globals",
          "_zIndex": "./theme/zIndex"
        }
      }
    ]
  ],
  "presets": ["babel-preset-expo"]
}
